<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625940590272-t635lkc2uv4utaqinksf56t2pgrteltu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625940590272-t635lkc2uv4utaqinksf56t2pgrteltu</string>
	<key>API_KEY</key>
	<string>AIzaSyCh2majhnceruE21thsdXXJEkm2Da4oZGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>625940590272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esprit.tn.CarMonitoring</string>
	<key>PROJECT_ID</key>
	<string>carmaintenance-f70a7</string>
	<key>STORAGE_BUCKET</key>
	<string>carmaintenance-f70a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625940590272:ios:f6f88fa360ccf6f77b4725</string>
</dict>
</plist>